<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}">

<head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Products</title>
</head>

<body>
      <main layout:fragment="content" id="content" class="p-6 w-full" data-location="products">


            <!-- Products Table -->
            <div id="productsTable" th:fragment="products-table" class="w-full">
                  <header class="flex flex-row justify-between">
                        <!-- Search Form -->
                        <form hx-get="/products" hx-replace="outerHtml" hx-target="#productsTable"
                              class="flex items-center space-x-2 mb-4">
                              <div class="relative flex items-center">
                                    <i
                                          class="fa-solid fa-magnifying-glass absolute left-2 top-1/2 -translate-y-1/2 text-gray-500"></i>
                                    <input type="text" name="keyword" placeholder="Search products..."
                                          class="pl-8 pr-2 py-2 border border-gray-300 rounded-l-lg focus:outline-none focus:ring-2 focus:ring-celeste-dark h-10 w-64"
                                          th:value="${keyword}" />
                              </div>
                              <input type="hidden" name="page" th:value="1" />
                              <select name="category"
                                    class="p-2 border-t border-b border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-900 h-10">
                                    <option value="" selected>All Categories</option>
                                    <option th:each="option : ${categories}"
                                          th:selected="${#strings.equals(category,option)}" th:value="${option}"
                                          th:text="${option}">
                                    </option>
                              </select>
                              <button type="submit"
                                    class="px-4 py-2 bg-blue-900 hover:bg-blue-600 text-white rounded-r-lg h-10">
                                    Search
                              </button>
                        </form>


                        <div class="flex items-center space-x-2 my-1 justify-end">
                              <a href="/generate-products-table-spreadsheet"
                                    class="px-3 py-1 border border-gray-300 rounded hover:bg-gray-100 cursor-pointer select-none text-green-800">
                                    <i class="fa-regular fa-file-excel"></i> <span class="text-xs font-bold">Export
                                          Spreadsheet</span>
                              </a>

                              <a href="/generate-products-table-pdf"
                                    class="px-3 py-1 border border-gray-300 rounded hover:bg-gray-100 cursor-pointer select-none text-blue-700">
                                    <i class="fa-regular fa-file-pdf"></i><span class="text-xs font-bold"> Export
                                          PDF</span>
                              </a>
                              <!-- Add Product Button -->
                              <div class="flex items-center space-x-2">

                                    <a hx-get="/products/add" hx-swap="outerHtml" hx-target=".modalDiv"
                                          class="px-3 py-1 border border-gray-300 rounded hover:bg-gray-100 cursor-pointer select-none text-green-500">
                                          <i class="fa-solid fa-plus"></i> <span class="text-xs font-bold">Add
                                                Product</span>
                                    </a>
                              </div>

                              <!-- Pagination Controls -->
                              <a th:if="${products.hasPrevious}"
                                    th:hx-get="'/products?page=' + ${products.pageNumber - 1} + '&keyword=' + ${keyword} + '&category=' + ${category}"
                                    hx-target="#productsTable"
                                    class="px-3 py-1 border border-gray-300 rounded hover:bg-gray-100 cursor-pointer select-none">
                                    <i class="fa-solid fa-arrow-left"></i>

                              </a>

                              <a th:if="${products.hasNext}"
                                    th:hx-get="'/products?page=' + ${products.pageNumber + 1} + '&keyword=' + ${keyword} + '&category=' + ${category}"
                                    hx-target="#productsTable"
                                    class="px-3 py-1 border border-gray-300 rounded hover:bg-gray-100 cursor-pointer select-none">
                                    <i class="fa-solid fa-arrow-right"></i>
                              </a>
                        </div>
                  </header>
                  <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-md">
                        <thead class="bg-zinc-100 text-blue-900 font-bold">
                              <tr>
                                    <th class="py-3 px-4 text-left font-bold">Id</th>
                                    <th class="py-3 px-4 text-left font-bold">Name</th>
                                    <th class="py-3 px-4 text-left font-bold">Description</th>
                                    <th class="py-3 px-4 text-left font-bold">Price</th>
                                    <th class="py-3 px-4 text-left font-bold">Image</th>
                                    <th class="py-3 px-4 text-left font-bold">Category</th>
                              </tr>
                        </thead>
                        <tbody>
                              <tr th:each="product : ${products.data}" class="border-b hover:bg-gray-100">
                                    <td class="py-3 px-4" th:text="${product.id}"></td>
                                    <td class="py-3 px-4" th:text="${product.name}"></td>
                                    <td class="py-3 px-4 truncate" th:text="${product.description}"></td>
                                    <td class="py-3 px-4" th:text="${product.price}"></td>
                                    <td class="py-3 px-4">
                                          <button class="view-image-btn p-2 hover:opacity-70 transition-opacity"
                                                th:data-image-src="${product.image}"
                                                th:data-image-alt="${product.name}">
                                                <i class="fa-regular fa-image text-blue-400"></i>
                                          </button>
                                    </td>
                                    <td class="py-3 px-4" th:text="${product.categoryName}"></td>
                              </tr>
                        </tbody>
                  </table>
                  <!-- Pagination Controls -->
                  <div class="flex justify-between items-center mt-4">
                        <div>
                              Page <span th:text="${products.pageNumber}"></span> of <span
                                    th:text="${products.totalPages}"></span>
                              (Total items: <span th:text="${products.totalElements}"></span>)
                        </div>
                        <div class="flex items-center space-x-2">
                              <!-- Pagination Controls -->
                              <a th:if="${products.hasPrevious}"
                                    th:hx-get="'/products?page=' + ${products.pageNumber - 1} + '&keyword=' + ${keyword} + '&category=' + ${category}"
                                    hx-target="#productsTable"
                                    class="px-3 py-1 border border-gray-300 rounded hover:bg-gray-100 cursor-pointer select-none">
                                    <i class="fa-solid fa-arrow-left"></i>

                              </a>

                              <a th:if="${products.hasNext}"
                                    th:hx-get="'/products?page=' + ${products.pageNumber + 1} + '&keyword=' + ${keyword} + '&category=' + ${category}"
                                    hx-target="#productsTable"
                                    class="px-3 py-1 border border-gray-300 rounded hover:bg-gray-100 cursor-pointer select-none">
                                    <i class="fa-solid fa-arrow-right"></i>

                              </a>
                        </div>
                        <div th:replace="~{fragments/product-image-modal}"></div>
                        <script th:src="@{/js/viewImage.js}"></script>
                  </div>
            </div>



      </main>
</body>

</html>