<!-- The Modal -->
<div id="viewImageModal"
      class="modal fixed inset-0 items-center justify-center bg-gray-900 bg-opacity-60 transition-opacity z-50 hidden">
      <span class="absolute top-4 right-8 text-white text-3xl font-bold cursor-pointer hover:text-gray-400 close"><i
                  class="fa-solid fa-xmark"></i></span>
      <div class="relative w-4/5 max-w-3xl">
            <img class="w-full max-h-[80vh] object-contain" alt="" id="modalImage" />
            <div id="caption" class="text-center text-gray-300 mt-4"></div>
      </div>
</div>